<div class="mdk-header-layout__content page-content ">


            <div class="navbar navbar-list navbar-submenu navbar-light border-0 navbar-expand-sm" style="white-space: nowrap;">
                <div class="container flex-column flex-sm-row">
                    <nav class="nav navbar-nav navbar-list__item">
                        <div class="nav-item">
                            <div class="media flex-nowrap">
                                <div class="media-left mr-16pt">
                                    <a href="/student/courses"><img src="/assets/images/paths/angular_64x64.png" width="40" alt="Angular" class="rounded"></a>
                                </div>
                                <div class="media-body">
                                    <a href="/student/courses" class="card-title text-body mb-0">{{result.course.hcName}}</a>
                                    <p class="lh-1 d-flex align-items-center mb-0">
                                        <span class="text-50 small font-weight-bold mr-8pt">{{result.course.teacher}}</span>
                                        <span class="text-50 small"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <ul class="navbar-list__item nav navbar-nav ml-sm-auto align-items-center align-items-sm-end">
                        <li class="nav-item active ml-sm-16pt">
                            <a href="" class="nav-link">Video</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Downloads</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Notes</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Discussions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bg-gradient-primary pb-lg-64pt py-32pt">
                <div class="container">
                    <nav class="course-nav">
                        <a href="" data-toggle="tooltip" data-placement="bottom" data-title="Getting Started with Angular: Introduction"><span class="material-icons text-primary">check_circle</span></a>
                        <a data-toggle="tooltip" data-placement="bottom" data-title="Getting Started with Angular: Introduction to TypeScript" class="active" href=""><span class="material-icons">account_circle</span></a>
                        <a data-toggle="tooltip" data-placement="bottom" data-title="Getting Started with Angular: Comparing Angular to AngularJS" href=""><span class="material-icons">play_circle_outline</span></a>
                        <a data-toggle="tooltip" data-placement="bottom" data-title="Quiz: Getting Started with Angular" href="student-take-quiz.html"><span class="material-icons">hourglass_empty</span></a>
                    </nav>
                    <div class="js-player embed-responsive embed-responsive-16by9 mb-32pt">
                        <div class="player embed-responsive-item">
                            <div class="player__content">
                                <div class="player__image" style="--player-image: url(/assets/images/illustration/player.svg)"></div>
                                <a href="" class="player__play">
                                    <span class="material-icons">play_arrow</span>
                                </a>
                            </div>
                            <div class="player__embed d-none">
                                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/97243285?title=0&amp;byline=0&amp;portrait=0" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-wrap align-items-end mb-16pt">
                        <h1 class="text-white flex m-0">Introduction to TypeScript</h1>
                        <p class="h1 text-white-50 font-weight-light m-0">50:13</p>
                    </div>

                    <p class="hero__lead measure-hero-lead text-white-50 mb-24pt">{{result.course.desc}}</p>

                    <a href="#" class="btn btn-white">Resume lesson</a>
                </div>
            </div>
            <div class="navbar navbar-expand-sm navbar-submenu navbar-light navbar-list p-0 m-0 align-items-center">
                <div class="container page__container">
                    <ul class="nav navbar-nav flex align-items-sm-center">
                        <li class="nav-item navbar-list__item">
                            <div class="media align-items-center">
                                <span class="media-left mr-16pt">
                                    <img src="/img/defaults/avatar.jpg" width="40" alt="avatar" class="rounded-circle">
                                </span>
                                <div class="media-body">
                                    <a class="card-title m-0" href="/instructor-profile.html">{{result.course.teacher}}</a>
                                    <p class="text-50 lh-1 mb-0">Instructor</p>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item navbar-list__item">
                            <i class="material-icons text-muted icon--left">schedule</i>
                            2h 46m
                        </li>
                        <li class="nav-item navbar-list__item">
                            <i class="material-icons text-muted icon--left">assessment</i>
                            Beginner
                        </li>
                        
                    </ul>
                </div>
            </div>



            <div class="page-section bg-white">
                <div class="container page__container">

                    <div class="d-flex align-items-center mb-heading">
                        <h4 class="m-0">Discussions</h4>
                        <a href="/discussions/ask" class="text-underline ml-auto">Ask a Question</a>
                    </div>

                    <div class="border-top">

                        <div class="list-group list-group-flush">

                            <div class="list-group-item p-3">
                                <div class="row align-items-center">
                                    <div class="col-md-3 mb-8pt mb-md-0">
                                        <div class="media">
                                            <div class="media-left mr-16pt">
                                                <a href="/student-profile.html"><img src="/assets/images/people/110/guy-1.jpg" width="40" alt="avatar" class="rounded-circle"></a>
                                            </div>
                                            <div class="media-body media-middle">
                                                <p class="text-muted m-0">2 days ago</p>
                                                <p class="m-0"><a href="student-profile.html" class="text-body">Laza Bogdan</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-8pt mb-md-0">
                                        <p class="mb-8pt"><a href="/discussions" class="text-body"><strong>Using Angular HttpClientModule instead of HttpModule</strong></a></p>


                                        <a href="/discussions" class="chip chip-outline-secondary">Angular fundamentals</a>


                                    </div>
                                    <div class="col-auto d-flex flex-column align-items-center justify-content-center">
                                        <h5 class="m-0">1</h5>
                                        <p class="lh-1 mb-0"><small class="text-70">answers</small></p>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item p-3">
                                <div class="row align-items-center">
                                    <div class="col-md-3 mb-8pt mb-md-0">
                                        <div class="media">
                                            <div class="media-left mr-16pt">
                                                <a href="/student-profile.html"><img src="/assets/images/people/110/guy-2.jpg" width="40" alt="avatar" class="rounded-circle"></a>
                                            </div>
                                            <div class="media-body media-middle">
                                                <p class="text-muted m-0">3 days ago</p>
                                                <p class="m-0"><a href="student-profile.html" class="text-body">Adam Curtis</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-8pt mb-md-0">
                                        <p class="mb-0"><a href="/discussions" class="text-body"><strong>Why am I getting an error when trying to install angular/http@2.4.2</strong></a></p>

                                    </div>
                                    <div class="col-auto d-flex flex-column align-items-center justify-content-center">
                                        <h5 class="m-0">1</h5>
                                        <p class="lh-1 mb-0"><small class="text-70">answers</small></p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <a href="/discussions" class="btn btn-outline-secondary">See all discussions for this lesson</a>

                </div>
            </div>



            <div class="js-fix-footer bg-white border-top-2">
                <div class="container page-section py-lg-48pt">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-6 col-md-4 mb-24pt mb-md-0">
                                    <h4 class="text-70">Learn</h4>
                                    <nav class="nav nav-links nav--flush flex-column">
                                        <a class="nav-link" href="library.html">Library</a>
                                        <a class="nav-link" href="library-featured.html">Featured</a>
                                        <a class="nav-link" href="library-filters.html">Explore</a>
                                        <a class="nav-link" href="paths.html">Learning Paths</a>
                                    </nav>
                                </div>
                                <div class="col-6 col-md-4 mb-24pt mb-md-0">
                                    <h4 class="text-70">Join us</h4>
                                    <nav class="nav nav-links nav--flush flex-column">
                                        <a class="nav-link" href="pricing.html">Pricing</a>
                                        <a class="nav-link" href="login.html">Login</a>
                                        <a class="nav-link" href="signup.html">Sign Up</a>
                                        <a class="nav-link" href="signup-payment.html">Payment</a>
                                    </nav>
                                </div>
                                <div class="col-6 col-md-4 mb-32pt mb-md-0">
                                    <h4 class="text-70">Community</h4>
                                    <nav class="nav nav-links nav--flush flex-column">
                                        <a class="nav-link" href="student-discussions.html">Discussions</a>
                                        <a class="nav-link" href="student-discussions-ask.html">Ask Question</a>
                                        <a class="nav-link" href="student-profile.html">Student Profile</a>
                                        <a class="nav-link" href="instructor-profile.html">Instructor Profile</a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-md-right">
                            <p class="text-70 brand justify-content-md-end">
                                <img class="brand-icon" src="/assets/images/logo/black-70@2x.png" width="30" alt="Tutorio"> Tutorio
                            </p>
                            <p class="text-muted mb-0 mb-lg-16pt">Tutorio is an online learning platform that helps anyone achieve their personal and professional goals.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-footer page-section py-lg-32pt">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 mb-24pt mb-md-0">
                                <p class="text-white-70 mb-8pt"><strong>Follow us</strong></p>
                                <nav class="nav nav-links nav--flush">
                                    <a href="#" class="nav-link mr-8pt"><img src="/assets/images/icon/footer/facebook-square@2x.png" width="24" height="24" alt="Facebook"></a>
                                    <a href="#" class="nav-link mr-8pt"><img src="/assets/images/icon/footer/twitter-square@2x.png" width="24" height="24" alt="Twitter"></a>
                                    <a href="#" class="nav-link mr-8pt"><img src="/assets/images/icon/footer/vimeo-square@2x.png" width="24" height="24" alt="Vimeo"></a>
                                    <a href="#" class="nav-link"><img src="/assets/images/icon/footer/youtube-square@2x.png" width="24" height="24" alt="YouTube"></a>
                                </nav>
                            </div>
                            <div class="col-md-6 col-sm-4 mb-24pt mb-md-0 d-flex align-items-center">
                                <a href="" class="btn btn-outline-white">English <span class="icon--right material-icons">arrow_drop_down</span></a>
                            </div>
                            <div class="col-md-4 text-md-right">
                                <p class="mb-8pt d-flex align-items-md-center justify-content-md-end">
                                    <a href="" class="text-white-70 text-underline mr-16pt">Terms</a>
                                    <a href="" class="text-white-70 text-underline">Privacy policy</a>
                                </p>
                                <p class="text-white-50 mb-0">Copyright 2019 &copy; All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>